<a href="https://colab.research.google.com/github/HARSHIT097/100_DAYS_pYTHON/blob/main/Pandas_Python_with_Harshit097.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Pandas is a powerful data manipulation and analysis library for Python. Let's start with the basics and gradually move to more advanced topics.

#Install the libraries

In [ ]:
!pip install pandas

#Import the Libraries

In [2]:
import pandas as pd

#Creating DataFrame

A DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it as a table or a spreadsheet.

In [6]:
#From List
data = [
    ['Ram', 28, 'Delhi'],
    ['Shyam', 30, 'Pune'],
    ['Babu Bhaiya', 55, 'Mumbai']
]

df = pd.DataFrame(data, columns=['Name', 'Age', 'City'])
print(df)

          Name  Age    City
0          Ram   28   Delhi
1        Shyam   30    Pune
2  Babu Bhaiya   55  Mumbai

In [7]:
#From Dictionaries
data = {
    'Name': ['Ram', 'Shyam', 'Babu bhaiya'],
    'Age': [28, 30, 55],
    'City': ['Delhi', 'Pune', 'Mumbai']
}

df = pd.DataFrame(data)
print(df)

          Name  Age    City
0          Ram   28   Delhi
1        Shyam   30    Pune
2  Babu bhaiya   55  Mumbai

## Reading the data frame
Pandas can read data from various file formats, such as CSV, Excel, SQL, and more.

In [10]:
f = pd.read_csv('filename.csv')
print(df.head())  # Display the first 5 rows

          Name  Age    City
0          Ram   28   Delhi
1        Shyam   30    Pune
2  Babu bhaiya   55  Mumbai

## Data Exploration or inspection

In [8]:
#Inspecting Data

print(df.head())  # First 5 rows
print(df.tail())  # Last 5 rows
print(df.shape)   # Shape of the DataFrame (rows, columns)
print(df.info())  # Summary of the DataFrame
print(df.describe())  # Statistical summary

          Name  Age    City
0          Ram   28   Delhi
1        Shyam   30    Pune
2  Babu bhaiya   55  Mumbai
          Name  Age    City
0          Ram   28   Delhi
1        Shyam   30    Pune
2  Babu bhaiya   55  Mumbai
(3, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes
None
             Age
count   3.000000
mean   37.666667
std    15.044379
min    28.000000
25%    29.000000
50%    30.000000
75%    42.500000
max    55.000000

In [ ]:
#Choosing columns
print(df['Name'])  # Single column
print(df[['Name', 'City']])  # Multiple columns

In [ ]:
#Selecting rows:
print(df.iloc[0])  # First row by position
print(df.loc[0])  # First row by label (if you have a custom index)

#Slicing:
print(df[0:2])  # First two rows

#Conditional selection:
print(df[df['Age'] > 30])  # Rows where Age is greater than 30

## Data Manipulation

In [ ]:
# Modifying Data

#Adding a new column:
df['Country'] = 'India'  # Adds a new column with the same value
df['Salary'] = [70000, 80000, 90000]  # Adds a new column with different values

#Modifying values:
df.loc[0, 'Age'] = 26  # Modify a single value
df['Age'] = df['Age'] + 1  # Modify an entire column

#Deleting a column:
df = df.drop('Country', axis=1)  # Drop a column

In [ ]:
#Checking for missing values:
print(df.isnull())  # Returns a DataFrame with True for missing values
print(df.isnull().sum())  # Sum of missing values for each column

#Dropping missing values:
df = df.dropna()  # Drops rows with any missing values
df = df.dropna(axis=1)  # Drops columns with any missing values


#Filling missing values:
df = df.fillna(0)  # Fill missing values with 0
df = df.fillna(method='ffill')  # Forward fill
df = df.fillna(method='bfill')  # Backward fill

In [ ]:
#Grouping and Aggregating Data

grouped = df.groupby('City')
print(grouped['Age'].mean())  # Average age per city

# Multiple aggregations
print(grouped.agg({
    'Age': ['mean', 'max'],
    'Salary': ['mean', 'sum']
}))

In [ ]:
# Merging and Joining DataFrames

#Merging:
df1 = pd.DataFrame({'key': ['A', 'B', 'C'], 'value1': [1, 2, 3]})
df2 = pd.DataFrame({'key': ['A', 'B', 'D'], 'value2': [4, 5, 6]})

merged = pd.merge(df1, df2, on='key', how='inner')  # Inner join on key
print(merged)


#Concatenating:
df1 = pd.DataFrame({'A': [1, 2, 3]})
df2 = pd.DataFrame({'B': [4, 5, 6]})

concat = pd.concat([df1, df2], axis=1)  # Concatenate along columns
print(concat)

#Saving Data

In [ ]:
df.to_csv('filename.csv', index=False)  # Save to CSV
df.to_excel('filename.xlsx', index=False)  # Save to Excel

üîç Enhance Your Data Skills with Advanced Pandas Techniques! üêº

Are you comfortable with the basics of Pandas and ready to take your data manipulation and analysis skills to the next level? Here are some advanced topics you can explore

# There are several advanced topics and techniques in Pandas that you can explore after mastering the basics. Here‚Äôs a list of additional topics to cover:

#**Advanced Data Selection**
##Advanced Indexing and Slicing: Learn more about .loc and .iloc, using boolean indexing, and setting multi-level indexes.
##Using .query() Method: A way to query DataFrames using SQL-like expressions.
#**Advanced Data Manipulation**
##Pivot Tables: Similar to Excel pivot tables, useful for summarizing data.
##Reshaping Data: Techniques such as melt and pivot for transforming data layouts.
##Handling Dates and Times: Using pd.to_datetime, working with DatetimeIndex, and handling time series data.
##String Operations: String methods available for text data in Series.
##Categorical Data: Using Pandas' categorical data type to save memory and improve performance.
#**Data Cleaning**
##Duplicated Data: Methods to identify and remove duplicate rows.
##Data Transformation: Techniques such as applying custom functions using .apply(), .map(), and .transform().
##Outlier Detection: Identifying and handling outliers.
#**Data Aggregation and Group Operations**
##Advanced GroupBy: Grouping by multiple columns, performing different aggregations on different columns.
##Window Operations: Rolling windows, expanding windows, and exponentially weighted windows for time series data.
#**Merging and Joining DataFrames**
##Concatenation with Keys: Concatenating DataFrames with multi-level indexes.
##Merging on Multiple Keys: Performing complex merges using multiple keys.
#**Performance Optimization**
##Optimizing Memory Usage: Techniques to reduce memory usage, such as downcasting data types.
##Efficient Iteration: Using itertuples and apply for faster row-wise operations.
#**Visualization**
##Advanced Plotting with Pandas: Using Pandas built-in plotting capabilities for various plot types.
##Integration with Seaborn and Matplotlib: Creating more complex visualizations by combining Pandas with other plotting libraries.
#**Working with Large Datasets**
##Chunking: Reading and processing data in chunks to handle large datasets.
##Using Dask: For parallel computing with Pandas-like syntax for big data processing.
#**Exporting Data**
##Advanced Export Options: Exporting data to various formats such as JSON, HTML, and SQL databases.