<a href="https://colab.research.google.com/github/HARSHIT097/100_DAYS_pYTHON/blob/main/pYTHON_BASIC_LNKDN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A tuple is an 

-- immutable Python list with heterogeneous elements.

 Although this is different than a traditional
Python list, we can use many of the same built-in Python functions

In [2]:
#INPUT
N = 3
my_tuple = (2, 'my_string', 4, 3, 3, 3, 2, 3)
#OUTPUT == 4

#cOUNTING UNIQUE ELEMENTS OF TUPLE
set1 = set(my_tuple)
print(set1)
print(len(set1))

{3, 2, 'my_string', 4}
4

In [3]:
my_tuple.count(N)

4

Count the no. of capital letters in text

In [6]:
Txt = """A tuple is an immutable Python list with heterogeneous elements. Although this is different than a traditional
Python list, we can use many of the same built-in Python functions"""

count =0 
for char in Txt:
  if char.isupper():
    print(char)
    count+=1

print(count)

A
P
A
P
P
5

In [8]:
count = sum(1 if character.isupper() else 0 for character in Txt)
count

5

In [10]:
def version2_SellProfit(n):
  if len(n) <= 1:
    return 0;

  #dividing the array in to two parts
  left  = n[ : len(n) // 2]
  right = n[len(n) // 2 : ]
  
  leftMax  = version2_SellProfit(left)
  rightMax = version2_SellProfit(right)
  
  crossMax = max(right) - min(left)
  
  return max(leftMax, rightMax, crossMax)

#driver code
n = [2, 7, 1, 8, 2, 8, 14, 25, 14, 0, 4, 5]
version2_SellProfit(n)

##Alternatively
def version1_SellProfit(n):
    max_profit = 0;
    for i in range(0, len(n)):
         for j in range (i + 1, len(n)):
            max_profit = max(max_profit, n[j] - n[i])
    return max_profit

#driver code
n = [2, 7, 1, 8, 2, 8, 14, 25, 14, 0, 4, 5]
version1_SellProfit(n)

24

You are given the following dataframe and are asked to cateogrize each food into 1 of 3 categories: meat, fruit, or other.

Can you add a new column containing the foods' categories to this dataframe using python?

In [11]:
#code to generate example dataframe
import pandas as pd
raw_data = {'food': ['bacon', 'STRAWBERRIES', 'Bacon', 'STRAWBERRIES', 'BACON', 'strawberries', 'Strawberries', 'pecans'], 
            'pounds': [4, 3.5, 7, 3, 6, 8, 1, 3]}
data = pd.DataFrame(raw_data, columns = ['food', 'pounds'])
data

           food  pounds
0         bacon     4.0
1  STRAWBERRIES     3.5
2         Bacon     7.0
3  STRAWBERRIES     3.0
4         BACON     6.0
5  strawberries     8.0
6  Strawberries     1.0
7        pecans     3.0

In [12]:
lower = lambda x: x.lower()
data['food'] = data['food'].apply(lower)

def food_category(series):
    if series['food'] == 'bacon':
        return 'meat'
    elif series['food'] == 'strawberries':
        return 'fruit'
    elif series['food'] == 'turkey':
         return 'meat'
    else:
         return 'other'

In [13]:
data['category'] = data.apply(food_category, axis='columns')
data

           food  pounds category
0         bacon     4.0     meat
1  strawberries     3.5    fruit
2         bacon     7.0     meat
3  strawberries     3.0    fruit
4         bacon     6.0     meat
5  strawberries     8.0    fruit
6  strawberries     1.0    fruit
7        pecans     3.0    other

Longest Palindrome

We're going to go through the code below step-by-step. Note that within the for loop there are 2 while loops with similar logic that we'll evaluate in parallel.

Line 1: Define the function longestPalindrome that takes in a string.
Lines 2-8: Declare variables to keep track of where we are while parsing through the input. maxLength will keep track of our longest palindrome found, and start will keep track of which index of the string the palindrome starts.
Line 10: Declare a loop that will start a 1 and iterate through the length of the string.
Lines 11-18/Lines 20-27: Even/odd length palindrome check, respectively.
Lines 11-12/Lines 20-21: We're going to set 2 value, high and low, which will represent the center of our palindrome if we find it to be an even length.
Line 13/Line 22: While the low and high are within the boundaries of the string, and if the value of the string at the low character equals the value of the string at the high character, we're going to continue to evaluate the potential palindrome.
Lines 14-16/Lines 23-25: If the current palindrome string length is greater than the current length of the palindrome, we're going to reset the start of our palindrome to be the low index, and the maxLength to represent the new max length.
Lines 17-18/Lines 26-27: We'll reduce the low by 1 and increase the high by one, and if the condition in line 13 is still valid, we'll expand our palindrome to the next set of 2 characters.
Line 29: Once all of the characters within the string have been evaluated, we are going to return the string's portion between the start and the end of the palindrome.

In [14]:
def longestPalindrome(string):
  maxLength = 1

  start = 0
  length = len(string)

  low = 0
  high = 0
    
  for i in range(1, length):
      low = i - 1
      high = i
      while low >= 0 and high < length and string[low] == string[high]:
          if high - low + 1 > maxLength:
              start = low
              maxLength = high - low + 1
          low -= 1
          high += 1

      low = i - 1
      high = i + 1
      while low >= 0 and high < length and string[low] == string[high]:
          if high - low + 1 > maxLength:
              start = low
              maxLength = high - low + 1
          low -= 1
          high += 1
 
  return string[start:start + maxLength]

#driver code
string = 'racecar'
longestPalindrome(string)

'racecar'

You are given a data set of Chipotle orders. You're asked to figure out the average order price and the average price per item ordered. Can you describe how you would do this using Python Pandas?

In [15]:
#Importing packages.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

# get the data from the url and put it into a dataframe
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipotle_orders = pd.read_csv(url, sep = '\t')

In [16]:
# clean the item_price column and transform it in a float and reassign the column with the cleaned prices
chipotle_orders.item_price = [float(value[1 : -1]) for value in chipotle_orders.item_price]
chipotle_orders.head()

   order_id  ...  item_price
0         1  ...        2.39
1         1  ...        3.39
2         1  ...        3.39
3         1  ...        2.39
4         2  ...       16.98

[5 rows x 5 columns]

In [17]:
# getting total price per item (which is item_price * quanitity )
chipotle_orders['total_price_per_item'] = chipotle_orders['item_price'] * chipotle_orders['quantity']

# aggregating the number of items ordered and the total price for each item (which is the price per order)
total_price_per_order = chipotle_orders.groupby(['order_id'])[["total_price_per_item", "quantity"]].sum().reset_index()

In [18]:
# calculating the average price per order
average_order_price = total_price_per_order['total_price_per_item'].mean()
average_order_price

21.394231188658654

In [19]:
# calculating the average price per item ordered
average_price_per_item = chipotle_orders['item_price'].mean()
average_price_per_item

7.464335785374397